name: Backend CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  QA:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_DATABASE: test_db
          MYSQL_USER: sail
          MYSQL_PASSWORD: password
          MYSQL_ROOT_PASSWORD: password
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping -h localhost"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    strategy:
      matrix:
        php-version: [ '8.4' ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          extensions: mbstring, intl, pdo, pdo_mysql
          coverage: none

      - name: Cache Composer dependencies
        uses: actions/cache@v5
        with:
          path: vendor
          key: composer-${{ runner.os }}-${{ hashFiles('composer.lock') }}
          restore-keys: composer-

      - name: Install dependencies
        run: composer install --no-interaction --no-progress --prefer-dist

      - name: Prepare environment
        run: |
          cp .env.example .env
          php artisan key:generate

      - name: Run PHP-CS-Fixer (lint)
        run: composer lint

      - name: Run PHPStan
        run: |
          if [ "${GITHUB_REF_NAME}" = "main" ]; then
            vendor/bin/phpstan analyse --configuration=phpstan.neon --no-progress
          else
            vendor/bin/phpstan analyse --configuration=phpstan.dev.neon --no-progress
          fi

      - name: Run tests
        if: |
          github.event_name == 'push' ||
          (
            github.event_name == 'pull_request' &&
            !contains(github.event.pull_request.labels.*.name, 'ci')
          )
        env:
          DB_CONNECTION: mysql
          DB_HOST: 127.0.0.1
          DB_PORT: 3306
          DB_DATABASE: test_db
          DB_USERNAME: sail
          DB_PASSWORD: password
        run:  |
          php artisan migrate --force
          php artisan db:seed --force
          php artisan test
